.footer-background {
  background-color: #444;
  color: #fff;
}

.nav-height {
  min-height: 75px;
}

.text-center {
  justify-content: center;
}

.page-container {
  position: relative;
  min-height: 55vh;
}

.logo {
  margin-right: 10px;
}
