.document-card {
  width: 150px;
  height: 150px;
  background: rgb(240, 88, 87);
  background: linear-gradient(
    180deg,
    rgba(240, 88, 87, 1) 0%,
    rgba(246, 139, 69, 1) 35%
  );
  border-color: 1px solid #f05757;
  color: #fff;
}

.document-card-list {
  margin-top: 30vh;
}
