/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.nav-background {
  background-color: #444;
  color: #fff;
}

.nav-height {
  min-height: 75px;
}

.page-container {
  position: relative;
  min-height: 85vh;
}

.footer-background {
  background-color: #444;
  color: #fff;
}

.nav-height {
  min-height: 75px;
}

.text-center {
  justify-content: center;
}

.page-container {
  position: relative;
  min-height: 75vh;
}

.text-right {
  justify-content: right;
}

.href-link {
  text-decoration: none;
  color: #000;
}
