.document-card {
  width: 220px;
  color: #f48181;
  height: 170px;
  border: none;
}

.document-card :hover {
  border-radius: 9px;

  background: linear-gradient(
    180deg,
    rgba(240, 88, 87, 1) 0%,
    rgba(246, 139, 69, 1) 80%
  );
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 29px -1px rgba(0, 0, 0, 0.5);
}

.document-card-heading {
  margin-top: 10vh;
}

.document-card-list {
  margin-top: 10vh;
}

.no-hover {
  pointer-events: none;
}
